

div.background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #006666; 
    background-size: cover;
    z-index: -5;
}

div.box {
    padding: 30px;
    margin: 2%;
    background-size: cover;
    background-color: rgba(24,4,5,0.8);
    color: #FFFFFF;
    border-radius: 10px;
    border: 3px #0099cc solid;
    box-shadow: 0 5px 15px #520000;
 
}

div.add {
    width: 25%;
}

div.manage{
    width: 70%;
}

div.full {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

body {
    font-family: "Microsoft Sans Serif";
    font-size: 18px ;
}

table {
    border: #00cccc double;
    padding: 10px;
    width: 100%;
}

tr:not(:first-child) td {
    border-top: #FFFFFF solid 1px;
    padding: 5px;
}

input[type="text"], select {
    width: 100%;
    height: 30px;
    background: #222222;
    border-color: #666666;
    color: #FFFFFF;
}
